




.block1{
	
	
}

.profilpic img{
	height:160px;
	width:170px;
	border-radius:90%;
	border:2px solid white;
	margin-top:3%;
	margin-left:3%;
}

.title{
	margin-right:50%;
	float:right;
	color:white;
	margin-top:-10%;
	
}


.block2{
	color:#c7ecee;
	text-align:center;
		
}


.block3{
	color:white;
	text-align:center;
	
}


.block4{
	color:#6a89cc;
	text-align:center;
	
}


.block5{
	color:green;
	
	
	
	
}

.left1{
	width:50%;
	margin-left:25%;
	
	
}

.right1{
	width:50%;
	margin-left:70%;
	
	
	
}

.left2{
	width:50%;
	margin-left:25%;
	
	
}


.right2{
	width:50%;
	margin-left:70%;
	
	
}

.left3{
	margin-left:25%;
	width:50%;
	
	
	
}

.right3{
	
	width:50%;
	margin-left:70%;

	
}

.middle{
	margin-left:47%;
	
	
	
	
}


.block6{
	color:#38ada9;
	text-align:center;
	
}






